/* Bootstrap custom variables */
$font-family-sans-serif: Avenir W01, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.95rem;
$primary: #00378b;
$input-focus-border-color: $primary;
$enable-rounded: false;
$border-width: 2px;
$input-btn-padding-y: .2rem;
$input-btn-padding-x-lg: 2rem;
$btn-padding-x: 2rem;
$custom-select-padding-y: 0;
$modal-lg: 1100px;
$modal-md: 537px;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/input-group";

@import '~ngx-toastr/toastr-bs4-alert';

/* Bootstrap modifications */
.btn {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include button-size($input-btn-padding-y, $btn-padding-x, $font-size-base * 0.9, $input-btn-line-height, $btn-border-radius);
}

.btn-link {
  cursor: pointer;
}

.btn-icon {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar {
  padding: 0.25rem 1rem;
  background-color: #00378b;
  color: #ffffff;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 2;
  }

  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.custom-checkbox label {
  cursor: pointer;
}

button.dropdown-item:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.dropdown-menu {
  /* Fix some weird behaviour by ngb drop down menu where you could see through the border of the drop down */
  background-clip: border-box;
}

body {
  height: 100%;
  background-color: #f5f5dc;
  font-family: Verdana, "Arial Narrow", sans-serif;
}
